.nav-drop-link {
  color: black;
}

.navbar {
  background-color: #ffffff !important;
  padding: 0;
}
.navbar-nav {
  position: relative;
}
.nav-bg {
  position: absolute;
  background-color: #fffcf2 !important;
  height: 90px;
  display: none;
  top: -30px;
  left: -5px;
  width: 330px;
  z-index: -10;
  border-right: 3px solid #fbc6bb !important;
}
.vgl__dropdown-option:hover div.nav-bg {
  display: block;
}

.hero-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 650px;
}
.hero-containt {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background: #f8b296;
}
.hero-containt h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-containt a {
  height: 55px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
}

/* .hero-containt a div {
  margin-top: -10px;
}

.hero-containt a div:hover {
  margin-top: 0px;
} */

.hero-containt a:hover {
  background: white;
  color: #f7b296;
}
.hero-containt a:before {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  top: -6px;
  right: -5px;
}
.hero-img {
  /* height: 100%; */
  width: 50%;
}
/* .hero-img-img {
  width: 100%;
  height: 100%;
} */
.banner-area {
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgb(255, 228, 183);
  background: -moz-linear-gradient(
    top,
    rgba(255, 228, 183, 1) 0%,
    rgba(252, 204, 188, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 228, 183, 1) 0%,
    rgba(252, 204, 188, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 228, 183, 1) 0%,
    rgba(252, 204, 188, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b7', endColorstr='#fcccbc',GradientType=0 );
}

.banner-area h3 {
  font-size: 66px;
  position: relative;
  width: 100%;
  text-align: center;
}
.banner-area h3:before {
  position: absolute;
  left: 30px;
  content: "";
  height: 3px;
  width: 38%;
  background: #000;
  top: 50%;
  transform: translateY(-50%);
}
.banner-area h3:after {
  position: absolute;
  content: "";
  background: #000;
  width: 38%;

  height: 3px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}

.hero-img.hero-mobile {
  display: none;
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {
  .header-logo a img {
    max-width: 230px;
  }
  .header-serch {
    height: 57px;
    width: 400px;
  }
  .hero-containt h3 {
    font-size: 30px;
    margin-bottom: 13px;
  }
  .hero-containt {
    width: 50%;
    height: 100%;
    padding: 0 60px;
  }
  .hero-img {
    /* height: 100%; */
    width: 50%;
  }
  .hero-area {
    height: 420px;
  }
  .banner-area h3 {
    font-size: 35px;
    text-align: center;
  }
  .banner-area {
    height: 250px;
  }
  .header-serch a {
    font-size: 18px;
  }
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .header-logo a img {
    max-width: 220px;
  }
  .header-serch {
    height: 47px;
    width: 310px;
  }
  .hero-containt h3 {
    font-size: 25px;
    margin-bottom: 9px;
  }
  .hero-containt {
    width: 50%;
    height: 100%;
    padding: 0px 40px;
  }
  .hero-img {
    /* height: 100%; */
    width: 50%;
  }
  .hero-area {
    height: 380px;
  }
  .banner-area h3 {
    font-size: 30px;
    text-align: center;
  }
  .banner-area {
    height: 170px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .header-logo a img {
    max-width: 170px;
  }
  .header-serch {
    height: 43px;
    width: 229px;
  }
  .hero-containt h3 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .hero-containt {
    width: 50%;
    height: 100%;
    padding: 0px 40px;
  }
  .hero-img {
    /* height: 100%; */
    width: 50%;
  }
  .hero-area {
    height: 330px;
  }
  .banner-area h3 {
    font-size: 23px;
    text-align: center;
  }
  .banner-area {
    height: 170px;
  }
  .header-menu li {
    display: inline-block;
    margin-right: 11px;
  }
  .header-area {
    padding: 0 30px;
    height: 90px;
  }
}

/* SM Small Device :320px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header-logo a img {
    max-width: 155px;
  }
  .header-serch {
    height: 43px;
    width: 229px;
    display: none;
  }
  .hero-containt h3 {
    font-size: 20px;
    margin-bottom: 2px;
    text-align: center;
  }
  .hero-containt {
    width: 100%;
    height: 230px;
    padding: 30px 30px;
  }
  .hero-img {
    /* height: 100%; */
    width: 100%;
    display: none;
  }
  .hero-area {
    height: auto;
    display: block;
  }
  .banner-area h3 {
    font-size: 23px;
    text-align: center;
  }
  .banner-area {
    height: 146px;
  }
  .header-menu li {
    display: inline-block;
    margin-right: 11px;
  }
  .header-area {
    padding: 15px 0;
    height: auto;
  }
  .hero-img.hero-mobile {
    display: block;
  }
  .banner-area h3::before {
    height: 2px;
    width: 25%;
  }
  .banner-area h3::after {
    width: 25%;
    height: 2px;
  }
  .hero-containt a {
    height: 45px;
    font-size: 16px;
    width: 180px;
    margin: 23px auto;
  }
  .header-menu {
    display: none;
  }
  .bar a {
    font-size: 22px;
    color: #000;
  }
  .owl-dot {
    width: 20px;
    height: 11px;
  }
  .offcanva.active {
    left: 0;
  }
  .ofverlay.active {
    left: 0;
  }
  .header-serch.mobile-search {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  .bar {
    display: block;
  }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
